/* MAIN WEBSITE COLORS */
$main-color: #e1e1e1;
$secondary-color: #11202a;
$ascending-color: #ffba00;

/* FONT COLORS */
$font-dark: #000;
$font-light: #fff;
$error-color: #c80000;

/* FONTS */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  src: url('~assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}
